@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');
@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");

body{
    font-family: 'El+Messiri', sans-serif;
    background: url("./image/bgImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.empHeaderContainer {
    font-family: 'Julius Sans One','Caveat', sans-serif;
    font-size: 225%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.searchBarContainer {
    margin-top: 6.5%;
    margin-bottom: 4%;
    text-align: center;
    vertical-align: middle;
}
.searchBar {
    width: 13%;
}
.searchIcon {
    width: 1.5%;
}
.landingPageMessage {
    font-family: 'Caveat', sans-serif;
    font-size: 375%;
    color: black;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}
.menuWrapper {
    width: 100vw;
    font-size: 1.5rem;
}
.menuGreyHalf {
    width: 85%;
    opacity: 0.5;
}
.menuContainer {
    width: 15%;
    color: black;
    background-color: #F9F9F9;
}
.favorites, .vegan, .keto, .paleo, .dairyFree, .glutenFree {
    background-size: cover;
    font-family: 'Julius Sans One','Caveat', sans-serif;
    text-shadow: 1px 1px white;
    font-size: 150%;
    font-weight: bold;
    border-radius: 5%;
    border: 2px solid #F9F9F9;
    transition: all .2s ease-in-out;
}
.favorites:hover, .vegan:hover, .keto:hover, .paleo:hover, .dairyFree:hover, .glutenFree:hover {
    transform: scale(1.08);
}
.favorites {
    background-image: url("./image/categoriesFavorites.jpeg");
}
.vegan {
    background-image: url("./image/categoriesVegan.jpeg");
}
.keto {
    background-image: url("./image/categoriesKeto.jpeg");
}
.paleo {
    background-image: url("./image/categoriesPaleo.jpg");
}
.glutenFree {
    background-image: url("./image/categoriesGlutenFree.jpeg");
}
.dairyFree {
    background-image: url("./image/categoriesDairyFree.jpeg");
}
.searchBarListContainer {
    display: flex;
    flex-direction: column;
}
.searchBarResultItemContainer {
    width: 20vw;
    heighT: 12vh;
}
.searchResultItemName {
    cursor: pointer;
}
.rdCard {
    width: 25%;
    margin: auto;
    padding: 2%;
    background-color: #fffffc;
}
.rdLabel {
    font-family: 'Julius Sans One','Caveat', sans-serif;
    font-weight: bold;
    font-size: 200%;
}
.rdwrapper {
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.rdImgContainer {
    height: 16vh;
    width: 8vw;
}
.rdImg {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.rdSideInfoWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 135%;
}
.rdSideInfoContainer {
    padding: 4%;
    width: 120%;
}
.rdButtonWrapper {
    display: flex;
    flex-direction: row;
}
.rdButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgIcon{
    height: 30px;
    width: 30px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}
.rdIngredientsHeader {
    font-family: 'Julius Sans One','Caveat', sans-serif;
    text-align: left;
    font-size: 130%;
    font-weight: bold;
}
.rcWrapper {
    display: flex;
    flex-direction: column;
}
.rdInstructions {
    transition: all .2s ease-in-out;
}
.rdInstructions:hover {
    transform: scale(1.08);
}
.calendarButtonWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
.calendarButtonContainer {
    width: 33%;
}
.calendarAddInputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendarFormWrapper {
    justify-content: center;
}
.calendarAddContainer {
    text-align: center
}
.calendarNext {
    text-align: right;
}
.modal{
    display: block;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(252, 252, 252, 0.99);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9)
}
.modalText{
    color: rgb(0, 0, 0);
    padding: 2rem 0;
    text-align: center;
    font-size: 1.75rem;
}



/* my group's CSS */
.contentRecipeBar{
    margin: 10px;
    display: inline-block;
}
.propsImage{
    display: inline-block;
}
.modalToo{
    display: block;
    height: 10rem;
    width: 15rem;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(252, 252, 252, 0.95);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5)
}
.textSize{
    font-size: 1.25rem;
}
.menu{
    display: inline-block;
    position: "absolute";
    top: 0;
    left: 0;
    font-size: 1rem;
}
.calendarHeaderText{
    font-size: 1.5em;
}

input[type=checkbox]:checked + label{
    text-decoration: line-through;
}
.smallCalendar{
    max-height: 685px;
    width: 380px;
}
.timeServing {
    height: 50px;
}
h4 {
    text-align: center;
}
.card-body {
    font-size: 1rem;
    display: inline-block;
    padding: 1rem 0 0 1rem
}
.card-text{
    font-size: 1rem;
}
.card-title{
    font-size: .75em;
}
.card-text{
    font-size: .75em;
}
.recipeContainer{
    padding: 9% 0;
    width: 45%;
    margin: 15px auto;
}
.weekView{
    margin-top: 5rem;
    margin-left:3rem;
}
.mealTitle{
    height: 5rem;
    width: 5rem;
    padding: 1.75rem 0;
}
.mealRecipe{
    height: 5rem;
    width: 5rem;
    padding: 1.75rem 0;
}
.table{
     table-layout: fixed;
}
.table td, .table th {
    min-width: 100px;
    min-height:100px;
    font-size:14px;
}
.addModal{
    font-size:15px;
    margin-left:2rem;
}
.prevModal{
    font-size:12px;
    margin-left:3rem;
}
.nextModal{
     font-size:12px;
     margin-right:3rem;
}
.closeModal{
    margin-left:20.2rem;
}
.loader {
 margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #62686d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
table.table-bordered > tbody > tr > td {
    border: 1px solid black;
}
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > th{
    border:1px solid black;
}

 /* ----------- Thinkpad x250 ----------- */
@media only screen
    and (max-width: 1366px)
    and (orientation: landscape) {
        .empHeaderContainer {
            margin-bottom: 5%;
        }
        .menuContainer {
            width: 20%;
        }
        .searchBarContainer {
            margin-top: 1%;
        }
        .searchBarListContainer, .rdCard, .rcWrapper, .recipesResponsiveness, .calendarButtonWrapper  {
            margin-bottom: 3%;
        }
        .searchBarResultItemContainer {
            width: 22vw;
            heighT: 18vh;
        }
        .rdSideInfoWrapper {
            font-size: 95%;
        }
        .calendarButtonWrapper {
            margin-top: 3%;
        }
        .rdCalendarModalSizing{
            /* this fixes calendadrModal sizing */
            height: auto;
            width: auto;
        }
        .modalToo {
            padding: 2%;
            height: 9rem;
        }
    }


  /* ----------- iPad ----------- */

/* Portrait */
@media only screen
    and (max-width: 768px)
    and (max-height: 1024px)
    and (orientation: portrait) {
        body {
            background-position: center center;
            background-attachment: fixed;
        }
        .empHeaderContainer {
            margin-bottom: 7%;
        }
        .empHeader {
            padding-left: 2%;
        }
        .searchBar {
            width: 30%;
        }
        .searchBarListContainer, .rcWrapper {
            margin-top: 5%;
        }
        .searchBarContainerFix {
            margin-bottom: 4%;
        }
        .menuContainer {
            width: 45%;
        }
        .searchBarResultItemContainer {
            width: 43vw;
            heighT: 12vh;
        }
        .rdCard {
            width: 57%;
        }
        .rdSideInfoWrapper {
            margin-left: 8%;
        }
        .rdImgContainer {
            height: 14vh;
            width: 20vw;
            padding-left: 4%;
        }
        .modalToo {
            padding: 2%;
            height: 8rem;
        }
        .rdCalendarModalSizing{
            height: auto;
            width: auto;
        }
        .inputInlineFix {
            display: inline;
        }
        .form-inline {
            flex-flow: row;
        }
        .calendarFormWrapper {
            display: flex;
            flex-direction: column;
        }
    }

    /* Landscape */
@media only screen
    and (max-width: 1024px)
    and (max-height: 768px)
    and (orientation: landscape) {
        body {
            background-position: center center;
            background-attachment: fixed;
        }
        .empHeaderContainer {
            margin-bottom: 7%;
        }
        .empHeader {
            padding-left: 1%;
        }
        .searchBarListContainer, .rcWrapper {
            margin-top: 4%;
        }
        .searchBarContainerFix {
            margin-bottom: 2%;
        }
        .searchBar {
            width: 22%;
        }
        .menuContainer {
            width: 32%;
        }
        .searchBarResultItemContainer {
            width: 37vw;
            heighT: 18vh;
        }
        .rdCard {
            width: 37%;
        }
        .rdImgContainer {
            height: 14vh;
            width: 12vw;
            padding-left: 2%;
        }
        .rdSideInfoWrapper {
            margin-left: 12%;
        }
    }


  /* ----------- iPhone X ----------- */

/* Portrait */
@media only screen
    and (max-width: 375px)
    and (max-height: 812px)
    and (orientation: portrait) {
        body {
            /* overflow: hidden; */
            /* height: 100%; */
            /* width: 100%; */
            /* background-size: 100% 100%; */
            /* position: fixed; */
        }
        .empHeaderContainer {
            font-size: 155%;
            margin-bottom: 15%;
        }
        .landingPageMessage {
            font-size: 300%;
        }
        .searchBarContainerFix {
            margin-bottom: 9%;
        }
        .searchBar {
            width: 50%;
        }
        .searchIcon {
            width: 6%;
        }
        .searchBarListContainer {
            margin-top: 10%;
        }
        .menuWrapper {
            width: 104vw;
        }
        .menuGreyHalf {
            width: 40%;
        }
        .menuContainer {
            font-size: 70%;
        }
        .recipesResponsiveness {
            margin-bottom: 5%;
        }
        .recipeContainer {
            width: 80%;
        }
        .favorites, .vegan, .keto, .paleo, .dairyFree, .glutenFree {
            font-size: 120%;
        }
        .searchBarResultItemContainer {
            width: 80vw;
            heighT: 14vh;
        }
        .rdCard {
            width: 85%;
        }
        .rdImgContainer {
            width: 30vw;
            padding-left: 4%;
            margin-top: 3%;
        }
        .rdSideInfoWrapper {
            font-size: 110%;
        }
        .modalToo {
            height: 6.5rem;
        }
        .rcWrapper {
            margin-top: 10%;
        }
    }


    /* Landscape */
@media only screen
    and (max-width: 812px)
    and (max-height: 375px)
    and (orientation: landscape) {
        .empHeaderContainer {
            font-size: 215%;
            margin-bottom: 6;
        }
        .landingPageMessage {
            font-size: 300%;
        }
        .searchBarContainerFix {
            margin-bottom: 0%;
        }
        .searchBarResultItemContainer {
            heighT: 30vh;
        }
        .rdCard {
        width: 45%;
        }
        .rdImgContainer {
            height: 25vh;
            width: 15.5vw;
            padding-left: 6%;
            margin-top: 2%;
        }
        .modalToo {
            height: 8rem;
        }
    }


    /* ----------- iPhone 6/7/8 ----------- */

/* Portrait */
@media only screen
    and (max-width: 375px)
    and (max-height: 667px)
    and (orientation: portrait) {
        body {
            overflow: auto;
        }
        .calendarContainer {
            /* margin-bottom: 3%; */
         }
    }

    /* Landscape */
@media only screen
    and (max-width: 667px)
    and (max-height: 375px)
    and (orientation: landscape) {
        .searchBar {
            width: 30%;
        }
        .searchIcon {
            width: 3.5%;
        }
        .menuGreyHalf {
            width: 70%;
        }
        .menuContainer {
            font-size: 80%;
        }
        .modalToo {
            height: 7rem;
        }
    }
